@font-face {
    font-family: 'Rubik';
    src: url(../fonts/static/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/static/Rubik-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/static/Rubik-SemiBold.ttf);
    font-weight: 600;
}
